.navbar-expand-md .last-nav-item .last-nav-link-title{
    position: relative;
}
.navbar-expand-md .last-nav-item .last-nav-link-title .showJoin{
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #f5f4f5;
    top: 100px;
    right: 0;		
    display: none;
}
.navbar-expand-md .last-nav-item .last-nav-link-title:hover .showJoin{
    display: block;
}
.navbar-expand-md .last-nav-item .last-nav-link-title .showJoin a{
    display: block;
    color: #000;	
}
.navbar-expand-md .last-nav-item .last-nav-link-title .showJoin i{
    position: absolute;
    display: block;
    width:0;
    border:20px solid;
    border-color:transparent transparent #fff transparent;
}