<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-center">
			<div class="subheader">Latest Block</div>
			<div class="ml-auto lh-1">
				{% include parts/dropdown/days.html %}
			</div>
		</div>
		<div class="h1 mb-3">
			 {% if last_block %}{{ last_block.height }}{% endif %}
		</div>
		<div class="d-flex mb-2">
			<div>Forged Rate</div>
			<div class="ml-auto">{% include ui/trending.html value=7 %}</div>
		</div>
		{% include ui/progress.html value=75 color="blue" size="sm" %}
	</div>
</div>
